<%- include('../components/base.ejs')%>
<script src="/javascripts/user/postId.js"></script>
<div class="container">
    <div class="col-md-8 well">
        <div class="jumbotron">
            <div class="container">
                <h2><%= data.title %></h2>
                <p>
                    <span class="text-info">
                        阅读量:<%=data.pv%> |
                        时间:<%= data.meta.createdAt.toLocaleDateString() %>
                        |
                        作者:<%=data.titleAuthor%> | 分类:<%=data.category%>
                    </span>
                </p>
                简介：<%- markedIntro %>
                <hr>
                内容：<%- markedData %>
            </div>
            <a href="../../" class="btn bnt-primary">放回上一级</a>
            <% if (title !== '文章') {%>
            <button id="edit" class="btn bnt-primary">修改文章</button>
            <% } %>
        </div>
    </div>
</div>